装扮定制
package-lock.json
test.js
/Surge/参考配置
/QuantumultX/resource.txt
/QuantumultX/resource.conf
/rule/config*
/js/generator
/js/dev/input
/js/dev/output
/js/dev/decode.js
/js/dev/kuwo-org.js
/js/dev/bili-delete.js
/js/dev/Env*
/js/dev/*.json

.DS_Store
node_modules
/dist
/pressure-ulcer-care
*.rar
*.7z
.prettierrc.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
